*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Bai Jamjuree', sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  /* max-width: 1300px; */
}

section{
  padding-top: 3rem;
  height: 100vh;
}

:root{
  --color-primary: rgb(29, 28, 28);
  --color-secondary: rgb(255, 253, 253); 
  --color-decoration: aqua;
}